{% extends 'second/layout.html' %}
{% load static %}

{% block title %}
<title>즐겨찾기</title>
{% endblock %}

{% block content %}
<div id="sign">
    <span onclick="location.href='{% url 'second:signin_ok' %}';">{{ request.user.username }} 님 </span>
    <span onclick="location.href='{% url 'second:signout' %}';">로그아웃</span>
</div>
<div id="pagetitle">{{ text }}
    <div id="icon" onclick="location.href='{% url 'second:favourite_add' %}';">
    <img src="{% static 'second/images/icon_add.png'%}"/>
    </div>
</div>
    <div id="box">
        {% for views_favourite_contents in views_favourite %}
            <div id="db_list" onclick="location.href='{% url 'second:favourite_detail' views_favourite_contents.seq %}';">
                <div id="name">{{ views_favourite_contents.name }}</div>
                <div id="reg_date">{{ views_favourite_contents.reg_date | date:"Y-m-d" }}</div>
                <div class="dropdown"><img src="{% static 'second/images/icon_more.png'%}"/>
                    <div class="dropdown-content">
                        <a href="{% url 'second:favourite_delete' views_favourite_contents.seq %}">삭제</a>
                        <a href="{% url 'second:favourite_modify' views_favourite_contents.seq %}">수정</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}