{% extends 'second/layout.html' %}
{% load static %}

{% block title %}
<title>Dogo&Favourite</title>
{% endblock %}

{% block content %}
<img src="{% static 'second/images/icon_add.png'%}"/>
<img src="{% static 'second/images/icon_delete.png'%}"/>
<img src="{% static 'second/images/icon_favorite.png'%}"/>
<img src="{% static 'second/images/icon_home.png'%}"/>
<img src="{% static 'second/images/icon_modify.png'%}"/>
<img src="{% static 'second/images/icon_more.png'%}"/>
<img src="{% static 'second/images/icon_todo.png'%}"/>
{% endblock %}