{% extends 'second/layout.html' %}
{% load static %}

{% block title %}
<title>Sign in</title>
{% endblock %}

{% block content %}
<div id="sign">
    <span onclick="location.href='{% url 'second:signin' %}';">로그인</span>
    <span onclick="location.href='{% url 'second:signup' %}';">회원가입</span>
</div>
<div id="pagetitle">{{ "로그인" }}
<!--
    <div id="icon" onclick="location.href='{% url 'second:todo_add' %}';">
        <img src="{% static 'second/images/icon_modify.png'%}"/></div>
    <div id="icon" onclick="location.href='{% url 'second:todo_add' %}';">
        <img src="{% static 'second/images/icon_delete.png'%}"/></div>
-->
</div>
    <div id="box">
        <div id="form">
        <form action="" method="post">
            {% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
            <input type="submit" value="로그인"/>
        </form>
        </div>
    </div>
{% endblock %}