{% extends 'second/layout.html' %}
{% load static %}

{% block title %}
<title>to do</title>
{% endblock %}

{% block content %}
<div id="sign">
    <span onclick="location.href='{% url 'second:signin_ok' %}';">{{ request.user.username }} 님 </span>
    <span onclick="location.href='{% url 'second:signout' %}';">로그아웃</span>
</div>
<div id="pagetitle">{{ "할 일 등록" }}
    <div id="icon" onclick="location.href='{% url 'second:todo_add' %}';">
        <img src="{% static 'second/images/icon_modify.png'%}"/></div>
    <div id="icon" onclick="location.href='{% url 'second:todo_add' %}';">
        <img src="{% static 'second/images/icon_delete.png'%}"/></div>
</div>
    <div id="box">
        <div id="db_list_detail">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="등록"/>
                </form>
        </div>    
    </div>
{% endblock %}