{% extends 'first/layout.html' %}
{% block title %}
<title>학생들</title>
{% endblock %}
{% block content %}
    <h3>{{ text|truncatechars:10 }}</h3>
    <h3>{{ date|date:'Y-m-d' }}</h3>
    {% for student in students %}
    <!-- 요 안에있는 내용들이 반복됩니다 -->
    <div>
        {{ student.id }}
        {{ student.name }}
        {{ student.address }}
        {{ student.email }}
        <a href="{% url 'first:student_modify' student.id %}">수정하기</a>
    </div>
    {% endfor %}
    <a href="{% url 'first:student_add' %}">등록하기</a>
{% endblock %}

<!--
<html>
    <head>
        <title>학생들</title>
    </head>

    <body>
        <h3>{{ text }}</h3>
        {% for student in students %}
        <div>
            {{ student.name }}
            {{ student.address }}
            {{ student.email }}
        </div>
        {% endfor %}
    </body>
</html>
-->
<!-- 위 코드가 레이아웃을 활용하면 위에처럼 바뀜 -->